Django
python-environ
djangorestframework
psycopg2-binary
django-cors-headers
dj-rest-auth
django-allauth
djangorestframework-simplejwt
djangorestframework-camel-case
Pillow
uvicorn[standard]
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
